.article-title {
  max-width: 500px;
  float: left;
}

.article-meta {
  float: right;
  padding-top: 0.0rem;
}

.article-date,
.rating-wrapper-content {
  text-align: right;
}

.side .about-me {
  text-align: left;
}

.profile {
  margin: 0 1.25rem 0 0;
  float: left;
  display: block;
}


