div.footer-block.footer
  p.license Copyright &copy; #{ new Date().getFullYear() } niteLite.io. All Rights Reserved.
  p.license Code Snippets licensed under the MIT License.
  p.license Developed by&nbsp;
    a(href='#{locals.url}') niteLite
  p
  p.license
    a(href='/privacy/') Privacy Policy
    | &nbsp;|&nbsp;
    a(href='/license/') License

div.footer-link-top.right
  a(href='#') Back to top

