.article-title {
  max-width: auto;
  float: none;
}

.article-meta {
  float: none;
  padding-top: 0.5rem;
}

.article-date,
.rating-wrapper-content {
  text-align: left;
}

.side {
  padding: 0 0.563rem;
}

.side .about-me,
.side .social-links {
  margin: 0 auto;
  width: auto;
}

.side .about-me {
  margin-bottom: 1.25rem;
}

.social-links .youtube {
  width: 25%;
}

.social-links .twitter {
  width: 25%;
}

.social-links .facebook {
  width: 25%;
}

.social-links .google {
  width: 25%;
}

.social-links .soundcloud {
  width: 25%;
}

.side .rating-five .rating-icon {
  width: 15.172413793%;
  max-width: 40px;
}

.side .rating-four .rating-icon {
  width: 13.448275862%;
  max-width: 35px;
}

.side .rating-three .rating-icon {
  width: 11.724137931%;
  max-width: 30px;
}

.side .rating-two .rating-icon {
  width: 10%;
  max-width: 25px;
}

.side .rating-one .rating-icon {
  width: 8.275862068%;
  max-width: 20px;
}

.archive {
  width: auto;
}

.archive a {
}

