
@media print {

  * {
	background: transparent !important;
	color: #000 !important; /* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
  }

  a,
  a:visited {
	text-decoration: underline;
  }

  abbr[title]:after {
	content: " [" attr(title) "]";
  }
  a[href]:after {
	content: " [" attr(href) "]";
	font: 12px "Alegreya", "Helvetica Neue", Helvetica, Arial, freesans, clean, sans-serif;
	letter-spacing: normal;
	//color: #999;
	font-weight: bold;
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
	content: "";
  }

  .contain-to-grid .top-bar,
  .top-bar,
  .hero-unit,
  .logo,
  #comments,
  .avatar,
  .profile,
  #nl-sidebar,
  .footer-link-top {
	display: none;
  }

  .comment-info {
	margin-top: 1rem;
	display: block;
	vertical-align: baseline;
  }

  #content, #content .span9 {
	width: auto;
  }

  .footer-bottom {
	border: 0 none;
	border-top: 1px solid #d4d4d4;
  }

  .main-container {
	border: 0 none;
  }
  // Highlights

  .highlight {
	overflow: visible;
	//background-color: whitesmoke;
	//color: #333333;
  }

  .highlight table {
	width: 100%;
	table-layout: fixed;
  }

  // no lines in print.
  .highlight td.gutter {
	display: none;
  }

  .highlight .code {
	width: 100%;
  }

  .highlight code {
	word-wrap: break-word;
	word-break: break-all;
  }

  pre,
  blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
  }

  thead {
	display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
	page-break-inside: avoid;
  }

  img {
	max-width: 100% !important;
  }

  p,
  h2,
  h3 {
	orphans: 3;
	widows: 3;
  }

  h2,
  h3 {
	page-break-after: avoid;
  }

}
